:root {
  --brand-color: #2196f3;
  --txt-body-color: #212121;
  --txt-main-color: #ffffff;
  --txt-secondary-color: #757575;
  --background-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--txt-body-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* Section header */

/* .header-nav {} */

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--brand-color);
}

.header-logo-part2 {
  color: black;
}

.header-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.link-studio-cl,
.link-portfolio-cl {
  color: var(--brand-color);
}

.link-mail,
.link-tel {
  color: var(--txt-secondary-color);
}

.link:hover,
.link:focus {
  color: var(--brand-color);
}

.header {
  background-color: var(--background-color);
}

.header-txt {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--txt-main-color);
}

.header-btn {
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--txt-main-color);
}

.header-btn:hover,
.header-btn:focus {
  background-color: #188ce8;
  border: none;
  cursor: pointer;
}

.features {
  letter-spacing: 0.03em;
}

.features-title {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.features-txt {
  line-height: 1.71;
  color: var(--txt-secondary-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.name {
  font-weight: 500;
  text-align: center;
}

.position {
  text-align: center;
  color: var(--txt-secondary-color);
}

.filter-btn {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-style: medium;
  font-size: 16px;
  line-height: 26px;
  line-height: 1.39;
  text-align: center;
  vertical-align: top;
  letter-spacing: 3%;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--brand-color);
  color: var(--txt-main-color);
  /* shadow-middle */
  cursor: pointer;
}

.projects-list {
  background-color: var(--txt-main-color);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--txt-body-color);
}

.projects-category {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--txt-secondary-color);
}

.footer {
  background-color: var(--background-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.footer-logo-part2 {
  color: white;
}

.footer-adress {
  font-style: normal;
  color: var(--txt-main-color);
}

.footer-contacts {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}